<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользовательское соглашение</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            padding: 20px;
            max-width: 800px;
            margin: auto;
            background-color: #f9f9f9;
        }
        h1, h2 {
            text-align: center;
        }
        p {
            text-align: justify;
        }
    </style>
</head>
<body>
    <h1>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ ОБ ИСПОЛЬЗОВАНИИ <br> МОБИЛЬНОГО ПРИЛОЖЕНИЯ МКП «ЛИДЕР»</h1>
    <p><strong>Общество с ограниченной ответственностью «МКП ЛИДЕР», ОГРН 1207700261845, ИНН 9729298222</strong>, зарегистрированное по адресу: 119607, Россия, г. Москва, ул. Раменки, д. 25, к.2, кв. 316 (далее – Организация), предлагает любому дееспособному юридическому и физическому лицу, отвечающему определенным требованиям, и намеревающемуся использовать Мобильное приложение МКП «Лидер» (далее – Пользователь), заключить настоящее соглашение об использовании Мобильного приложения МКП «Лидер» (далее - Соглашение) посредством совершения Пользователем акцепта настоящей публичной оферты.</p>
    <p>Соглашение об использовании Мобильного приложения МКП «Лидер» является заключенным между Организацией и Пользователем с момента установки Пользователем Мобильного приложения МКП «Лидер» на свое Устройство и осуществления Пользователем Регистрации в Мобильном приложении МКП «Лидер» в порядке, определенном настоящим Соглашением.</p>
    <p>Перед использованием Мобильного приложения МКП «Лидер» обязательно внимательное прочтение Пользователем настоящего Соглашения и безоговорочное принятие всех его условий.</p>
    <p>Любое использование Пользователем Мобильного приложения МКП «Лидер» означает полное и безоговорочное принятие им условий настоящего Соглашения.</p>
    <p>Если Пользователь не принимает условия Соглашения в полном объеме, Пользователь не имеет права использовать Мобильное приложение МКП «Лидер» в каких-либо целях.</p>

    <h2>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h2>
    <p>В настоящем Соглашении используются следующие термины, имеющие определенное ниже значение. В случае, если в настоящем Соглашении используются термины и понятия, не определенные в настоящем разделе, они имеют значения, которые обычно придаются им в соответствующей сфере.</p>

    <h3>1.1. Мобильное приложение МКП «Лидер»</h3>
    <p>Программное обеспечение для мобильных электронных устройств, актуальная версия которого размещена правообладателем в AppStore, Google Play и RuStore, доступных в публичной сети «Интернет». Мобильное приложение, в том числе, представляет собой информационную систему, оператором которой является Организация.</p>

    <h3>1.2. Личный кабинет Пользователя</h3>
    <p>Персональная страница Пользователя в Мобильном приложении, доступная Пользователю с использованием его Учетной записи, которая содержит данные Пользователя, а также иную информацию, необходимую для использования функционала Мобильного приложения МКП «Лидер».</p>

    <h3>1.3. Устройство</h3>
    <p>Мобильное электронное устройство Пользователя (смартфон, мобильный телефон), подключенное к публичной информационно-телекоммуникационной сети Интернет, работающее на базе операционной системы iOS, Android или другие, на котором установлено Мобильное приложение МКП «Лидер».</p>

    <h3>1.4. Контент</h3>
    <p>Фото- и видеоматериалы, загруженные Пользователем в Мобильное приложение МКП «Лидер».</p>

    <h2>2. ПРЕДМЕТ СОГЛАШЕНИЯ И ОБЩИЕ ПОЛОЖЕНИЯ</h2>

    <h3>2.1. Право использования</h3>
    <p>Организация предоставляет Пользователю право использовать Мобильное приложение МКП «Лидер» по его прямому функциональному назначению для получения услуг Организации.</p>
    <h3>2.2 Мобильное приложение МКП «Лидер»</h3>
    <p>Мобильное приложение МКП «Лидер» предоставляется Пользователю в целях получения услуг Организации. Иные способы использования Мобильного приложения МКП «Лидер», кроме прямо предусмотренных в настоящем Соглашении, запрещены.</p>
    <h3>2.3. Использование Мобильного приложения МКП «Лидер»</h3>
    <p>Разрешается следующими способами:</p>
    <ul>
        <li>Пользователь вправе произвести копирование и установку Мобильного приложения МКП «Лидер» в память неограниченного числа своих Устройств.</li>
        <li>Пользователь вправе воспроизводить Мобильное приложение МКП «Лидер» на своих Устройствах.</li>
        <li>Пользователь вправе использовать Мобильное приложение МКП «Лидер» по прямому функциональному назначению в целях, определённых в п. 2.1., 2.2 и п. 2.5 Соглашения.</li>
    </ul>
    <p>Все перечисленные в настоящем пункте действия по использованию Мобильного приложения МКП «Лидер» должны осуществляться Пользователем лично. Передача права пользования Мобильным приложением МКП «Лидер» третьим лицам не допускается.</p>
    <h3>2.4. Ознакомление с Соглашением</h3>
    <p>Перед началом использования Мобильного приложения МКП «Лидер» Пользователь обязуется ознакомиться с текстом данного Соглашения.</p>
    <p>Если Пользователь не согласен с каким-либо отдельным положением или с Соглашением в целом, он обязан прекратить любое использование Мобильного приложения МКП «Лидер».</p>
    <p>Пользователь, выражая свое согласие с условиями настоящего Соглашения и продолжая использовать Мобильное приложение МКП «Лидер», тем самым безоговорочно и полностью соглашается со всеми условиями настоящего Соглашения.</p>
    <h3>2.5. Функциональные возможности</h3>
    <p>Мобильное приложение МКП «Лидер» предоставляет Пользователю следующие возможности:</p>
    <ul>
        <li>Создавать заявки на выполнение работ, адресованные Организации.</li>
        <li>Просматривать текущий статус заявок.</li>
        <li>Загружать контент (фото- и видеоматериалы), содержащий неисправности или изъяны, для формирования полной картины заявки.</li>
        <li>Просматривать сроки реализации заявок.</li>
        <li>Отправить заявку на удаление своего аккаунта.</li>
    </ul>
    <h3>2.6. Установка приложения</h3>
    <p>Пользователь самостоятельно совершает установку Мобильного приложения МКП «Лидер» на свое Устройство с использованием Интернет-сервисов AppStore, Google Play или RuStore, доступных в публичной информационно-телекоммуникационной сети «Интернет».</p>
    <h3>2.7. Ограничение доступа</h3>
    <p>Организация вправе запретить доступ к Мобильному приложению МКП «Лидер» и удалить любой контент без объяснения причин, в том числе в случае нарушения Пользователем условий Соглашения или Политики обработки персональных данных, а также в других случаях, предусмотренных Соглашением.</p>

    <h2>3. ПРАВА ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ</h2>

    <h3>3.1. Исключительное право в отношении Мобильного приложения МКП «Лидер»</h3>
    <p>Исходный и объектный код, пользовательский интерфейс, графические изображения, текстовое наполнение и содержание Мобильного приложения МКП «Лидер», а также любые другие элементы являются объектами интеллектуальной собственности, исключительное право на которые принадлежит их законным правообладателям.</p>
    <p>Пользователь не имеет права изменять, декомпилировать, дизассемблировать, дешифровать или производить иные действия с объектным кодом Мобильного приложения МКП «Лидер», а также создавать производные произведения или иным образом использовать приложение без письменного согласия Организации.</p>
    <p>Пользователь соглашается с тем, что любая часть и любой элемент Мобильного приложения МКП «Лидер», являются составной частью Мобильного приложения МКП «Лидер» и охраняются законом. </p>
    <h3>3.2. Ограничения на передачу прав</h3>
    <p>Несмотря на то, что Пользователю предоставляются права использования Мобильного приложения МКП «Лидер», само по себе использование приложения не может быть расценено как передача или уступка исключительного права на Мобильное приложение МКП «Лидер», его части и элементы, от Организации к Пользователю.</p>
    <h2>4. ОБЯЗАННОСТИ И ОТВЕТСТВЕННОСТЬ ПОЛЬЗОВАТЕЛЯ</h2>

    <h3>4.1. Соблюдение условий</h3>
    <p>Пользователь обязуется надлежащим образом соблюдать условия настоящего Соглашения.</p>

    <h3>4.2. Запрет на нарушение прав</h3>
    <p>Пользователь обязуется не использовать Мобильное приложение МКП «Лидер» в нарушение прав и законных интересов правообладателей, третьих лиц, настоящего Соглашения и действующего законодательства.</p>
    <h3>4.3. Ответственность за безопасность устройства</h3>
    <p>Пользователь обязуется принимать надлежащие меры для обеспечения сохранности его мобильного устройства и несет личную ответственность в случае доступа к его мобильному устройству третьих лиц.</p>

    <h3>4.4. Ответственность за сохранность данных</h3>
    <p>Пользователь обязуется аккуратно и бережно хранить данные, используемые для идентификации в Мобильном приложении МКП «Лидер».</p>
    <h3>4.5. Использование официальных источников</h3>
    <p>Пользователь гарантирует, что Мобильное приложение МКП «Лидер» было загружено и установлено им исключительно с официальных ресурсов (включая, но не ограничиваясь, Apple Store, Google Play, RuStore и т.п.). Организация не несет ответственности, если Мобильное приложение МКП «Лидер» было загружено любым другим путем.</p>

    <h3>4.6. Использование в личных целях</h3>
    <p>Пользователь вправе использовать Мобильное приложение МКП «Лидер» исключительно с целью личного использования в соответствии с условиями настоящего Соглашения.</p>

    <h2>5. ИЗМЕНЕНИЯ УСЛОВИЙ СОГЛАШЕНИЯ</h2>

    <h3>5.1. Внесение изменений</h3>
    <p>Соглашение может изменяться Организацией в одностороннем порядке, без какого-либо специального уведомления Пользователя.</p>
    <p>Новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по адресу
    <a href="https://mkpleader.online/user-accept">https://mkpleader.online/user-accept</a>, если иное не предусмотрено новой редакцией Соглашения.</p>
    <h3>5.2. Отказ от принятия изменений</h3>
    <p>В случае, если Организацией были внесены какие-либо изменения в Соглашение, с которыми Пользователь не согласен, он обязан прекратить использование Мобильного приложения МКП «Лидер».</p>
    <h2>6. ОТСУТСТВИЕ ГАРАНТИЙ, ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</h2>

    <h3>6.1. Использование на свой риск</h3>
    <p>Пользователь использует Мобильное приложение МКП «Лидер» на свой собственный риск. Мобильное приложение МКП «Лидер» предоставляется «как есть» (as is). Организация не предоставляет никаких гарантий в отношении безошибочной и бесперебойной работы Мобильного приложения МКП «Лидер» или отдельных его компонентов и/или функций, соответствия Мобильного приложения МКП «Лидер» конкретным целям и ожиданиям Пользователя, а также не предоставляет никаких иных гарантий, прямо не указанных в настоящем Соглашении.</p>
    <h3>6.2. Ограничение ответственности</h3>
    <p>Организация не несет ответственности за какие-либо прямые или косвенные последствия использования или невозможности использования Мобильного приложения МКП «Лидер» и/или ущерб, причиненный Пользователю и/или третьим сторонам в результате использования, неиспользования или невозможности использования Мобильного приложения МКП «Лидер» или отдельных его компонентов и/или функций, в том числе из-за возможных ошибок или сбоев в работе Мобильного приложения МКП «Лидер», за исключением случаев, прямо предусмотренных законодательством.</p>
    <h3>6.3. Отказ от ответственности за убытки</h3>
    <p>Организация не несет ответственности за любые виды убытков, произошедшие вследствие использования Пользователем Мобильного приложения МКП «Лидер» или отдельных частей/функций Мобильного приложения МКП «Лидер».</p>

    <h3>6.4. Ограничение доступа</h3>
    <p>Организация оставляет за собой право на свое усмотрение ограничить доступ Пользователя к Мобильному приложению МКП «Лидер» или к определенным функциям Мобильного приложения МКП «Лидер», либо применить к Пользователю иные меры с целью соблюдения требований законодательства или прав и законных интересов третьих лиц.</p>
    <h3>6.5. Доступ к сети Интернет</h3>
    <p>Выполнение функций Мобильного приложения МКП «Лидер» возможно только при наличии доступа к сети Интернет. Пользователь самостоятельно получает и оплачивает такой доступ на условиях и по тарифам своего оператора связи или провайдера доступа к сети Интернет.</p>

    <h2>7. СРОК ДЕЙСТВИЯ СОГЛАШЕНИЯ</h2>

    <h3>7.1. Продолжительность и продление</h3>
    <p>Срок действия Соглашения: 12 (двенадцать) месяцев.</p>
    <p>Действие Соглашения автоматически продлевается на каждые следующие 6 (шесть) месяцев, если Соглашение не было расторгнуто по инициативе одной из Сторон путем направления в адрес другой Стороны письменного уведомления не менее чем за 5 (пять) календарных дней до истечения текущего срока действия Соглашения.</p>

    <h2>8. ПОРЯДОК ПРЕКРАЩЕНИЯ СОГЛАШЕНИЯ</h2>

    <h3>8.1. Право на односторонний отказ</h3>
    <p>Организация вправе в любое время и без объяснения причин отказаться от Соглашения в одностороннем внесудебном порядке.</p>
    <p>Право на односторонний отказ от Соглашения осуществляется Организацией путем уведомления Пользователя об отказе от Соглашения. Соглашение прекращается с момента получения данного уведомления (п. 9.8 Соглашения).</p>

    <h3>8.2. Право на отказ Пользователя</h3>
    <p>Пользователь вправе в любое время и без объяснения причин отказаться от Соглашения в одностороннем внесудебном порядке.</p>
    <p>Право на односторонний отказ от Соглашения осуществляется Пользователем путем уведомления Организации об отказе от Соглашения. Соглашение прекращается с момента получения данного уведомления (п. 9.8 Соглашения).</p>

    <h3>8.3. Расторжение Соглашения</h3>
    <p>В случае одностороннего отказа от Соглашения (пп. 8.1, 8.2 Соглашения) Соглашение считается расторгнутым.</p>
    <p>С момента расторжения Соглашения доступ к Мобильному приложению МКП «Лидер» прекращается.</p>

    <h2>9. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h2>

    <h3>9.1. Условия использования</h3>
    <p>Соглашение устанавливает условия использования Мобильного приложения МКП «Лидер» между Пользователем и Организацией.</p>

    <h3>9.2. Функции и развитие приложения</h3>
    <p>Все существующие на момент публикации Соглашения функции Мобильного приложения МКП «Лидер», а также любое развитие их и/или добавление новых является предметом Соглашения.</p>

    <h3>9.3. Применимое право</h3>
    <p>К настоящему Соглашению и всем отношениям, связанным с использованием Мобильного приложения МКП «Лидер», подлежит применению право Российской Федерации и любые претензии или иски, вытекающие из настоящего Соглашения или использования Мобильного приложения МКП «Лидер», должны быть поданы и рассмотрены в установленном законом порядке.</p>

    <h3>9.4. Разрешение неурегулированных вопросов</h3>
    <p>Вопросы, не урегулированные Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации.</p>

    <h3>9.5. Защита прав потребителей</h3>
    <p>В отношении услуг, оказываемых в рамках настоящего Соглашения на безвозмездной основе, нормы о защите прав потребителей, предусмотренные законодательством Российской Федерации, не могут быть применимыми к отношениям между Пользователем и Организацией.</p>

    <h3>9.6. Отсутствие особых отношений</h3>
    <p>Ничто в Соглашении не может пониматься как установление между Пользователем и Организацией агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.</p>
    <h3>9.7. Бездействие Организации</h3>
    <p>Бездействие со стороны Организации в случае нарушения Пользователем положений Соглашений не лишает Организацию права предпринять соответствующие действия в защиту своих интересов позднее, а также не означает отказа Организации от своих прав в случае совершения в последующем подобных либо сходных нарушений.</p>

    <h3>9.8. Доставка сообщений</h3>
    <p>Заявления, уведомления, извещения, требования или иные юридически значимые сообщения, направляемые Сторонами Соглашения друг другу, считаются доставленными:</p>
    <ul>
        <li><strong>Пользователю</strong> - в момент получения Организацией извещения об их доставке на адрес электронной почты <a href="mailto:leadermkp@gmail.com">leadermkp@gmail.com</a>, указанный в регистрационных данных Пользователя, либо в момент их публикации в Мобильном приложении МКП «Лидер»;</li>
        <li><strong>Организации</strong> - в момент получения сообщения на адрес электронной почты Организации <a href="mailto:leadermkp@gmail.com">leadermkp@gmail.com</a>, указанный в Мобильном приложении МКП «Лидер».</li>
    </ul>
    <p>Сообщение считается доставленным и в тех случаях, если оно поступило лицу, которому оно направлено (адресату), но по обстоятельствам, зависящим от него, адресат не ознакомился с ним.</p>

    <h3>9.9. Контакты и обратная связь</h3>
    <p><strong>Полное наименование:</strong> Общество с ограниченной ответственностью «МКП ЛИДЕР»</p>
    <p><strong>Сокращенное наименование:</strong> ООО «МКП ЛИДЕР»</p>
    <p><strong>Юридический адрес:</strong> 119607 Россия, г. Москва, ул. Раменки, д. 25, к.2, кв. 316</p>
    <p><strong>Почтовый адрес:</strong> 119607 Россия, г. Москва, ул. Раменки, д. 25, к.2, кв. 316</p>
    <p><strong>Телефон:</strong> 89161466596</p>
    <p><strong>ИНН/КПП:</strong> 9729298222/772901001</p>
    <p><strong>ОГРН:</strong> 1207700261845</p>
    <p><strong>Генеральный директор:</strong> Кобызев Павел Алексеевич</p>
    <p><strong>E-mail:</strong> <a href="mailto:leadermkp@gmail.com">leadermkp@gmail.com</a></p>

</body>
</html>
